* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.body {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
}

.wrapper {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.textarea {
  width: 100%;
  min-width: 690px;
  font-size: 2rem;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  min-width: 690px;
  border: solid 2px;
  border-radius: 5px;
  padding: 5px;
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  padding: 0;
  column-gap: 5px;
  margin: 0;
}

.key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  max-width: 42px;
  height: 43px;
  font-weight: 700;
  text-align: center;
  border: solid 2px;
  border-radius: 3px;
  border-color: black;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 1);
  padding: 0 5px;
}

.key__upper {
  position: relative;
  bottom: 10px;
  right: 5px;
  font-size: 1.2rem;
  font-weight: 400;
}

.key_control {
  background-color: darkgrey;
  max-width: none;
}

.key_arrow {
  max-width: 42px;
}

.key_space {
  min-width: 300px;
}

.key_activ {
  background-color: rgb(232, 145, 14);
  color:aliceblue;
  top: 2px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 1);
  transition: 0.2s;
}

.description {
  text-align: center;
}